@font-face {
  font-family: "Oxygen", sans-serif;
  src: url(./assets/fonts/Oxygen-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Oxygen", sans-serif;
  src: url(./assets/fonts/Oxygen-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Oxygen", sans-serif;
  src: url(./assets/fonts/Oxygen-Bold.ttf);
  font-weight: 700;
}

:root {
  font-size: 16px;
  --text-color: #fff;
}

html,
body,
div,
span,
a,
p,
img,
section,
aside,
footer,
header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  color: var(--text-color);
}

body {
  background-color: #151616;
  color: var(--text-color);
  font-family: "Oxygen", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding: 0 6rem;
  padding: 20px;
  text-align: center;
}

.nav-menu {
  margin-left: auto;
  margin-right: 3rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  list-style: none;
}

.nav-item * {
  text-decoration: none;
}

.section {
  height: 100vh;
  width: 100%;
}

#home {
  display: flex;
  padding-top: 10rem;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
